
/* SMARTPHONE & TABLETS */
@media only screen and (max-width: 768px) {
    header .navbar-brand {
      padding-left: 1rem;
    }
    
    /* Section 3 */
    .section-3 {
      height: inherit;
      padding: 10vmin !important;
      background-image:linear-gradient(to bottom, #4b4847, #141010);
    }
    .section-3 .row h1 {
      padding: 6vmin 4vmin;
    }
    .section-3 .platform .col-md-6 {
      text-align: center !important;
    }
    .section-3 .desktop i {
      font-size: 8vmin;
    }
  
  
  
    footer .row .col-md-2 {
      margin-top: 8vmin;
    }
  }
    // QUIENES SOMOS PAGE
    .about-card {
        max-width: 50%;
        border-radius: 30px;
        p {
            max-width: 70%;
            margin: 0 auto;
        }
    }


// CONTACTO PAGE
@media only screen and (max-width: 768px) {
    .containerForm {
      flex-direction: column;
      width: 100%;
      margin: 0 20px;
    }
    .leftForm {
      width: 100%;
      height: 400px;
    }
    .rightForm {
      width: 90%;
      margin: 0;
      margin-top: -100px;
    }
  }