.section-1 {
    padding: 20vmin 0vmin;
    .row {
        .col-md-6:last-child {
            position: relative;
          }
        .col-md-6 {
            .panel {
                position: absolute;
                top: 7vmin;
                left: -18vmin;
                background: white;
                border-radius: 3px;
                text-align: left;
                padding: 13vmin 5vmin 20vmin 10vmin;
                box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
                font-family: "Lato", sans-serif;
                z-index: 1;
                h1 {
                    font-weight: bold;
                    padding: 0.4em 0;
                    font-size: 2em;
                  }
                  p {
                    font-size: 0.9em;
                    color: rgba(0, 0, 0, 0.5);
                  }
              }
        }
    }
  }